* {
  box-sizing: border-box;
  font-family: "pokemon-font", monospace;
}

html, body {
  background: url(/home/jamespmernin/Documents/general_assembly/sei/phoenix/unit_1/PACE/Images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #FFFFFF;
  margin: 10px auto;
}

h2 {
  color: #FFFFFF;
  font-size: 20px;
  margin: 10px auto;
}

h3 {
  color: #FFFFFF;
  font-size: 18px;
  margin: 10px auto;
}

h4 {
  color: #FFFFFF;
  margin: 10px auto;
}

img {
  width: 135%;
  margin: 0 0 10px 0;
  vertical-align: middle;
}

button {
  width: 300px;
  font-size: 18px;
  margin: 20px 0 0 0;
}

select {
  width: 120px;
  height: auto;
  font-size: 18px;
}

.pokemon {
  display: inline-block;
  margin-right: 150px;
  text-align: center;
}

.pokemonText {
  color: #FFFFFF;
  font-size: 135%;
  margin: 10px auto;
}

.selector {
  display: inline-block;
  margin: 10px 70px 0 0;
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
}

.noimage {
  color: #FFFFFF;
}

.type {
border-radius: 5px;
color: #FFFFFF;
display: inline-block;
font-size: 135%;
margin: 0 5px 10px 5px;
text-align: center;
text-transform: uppercase;
width: 150px;
vertical-align: middle;
}

.stab {
  font-weight: bold;
}

.select {
  font-style: italic;
}

#defendErrorText {
  color: #FFFFFF;
}

#attackErrorText {
  color: #FFFFFF;
}

#blank {
  display: none;
}

#normal {
  background-color: #A8A878
}

#fire {
  background-color: #F08030
}

#water {
  background-color: #6890F0
}

#grass {
  background-color: #78C850
}

#electric {
  background-color: #F8D030
}

#ice {
  background-color: #98D8D8
}

#fighting {
  background-color: #C03028
}

#poison {
  background-color: #A040A0
}

#ground {
  background-color: #E0C068
}

#flying {
  background-color: #A890F0
}

#psychic {
  background-color: #F85888
}

#bug {
  background-color: #A8B820
}

#rock {
  background-color: #B8A038
}

#ghost {
  background-color: #705898
}

#dragon {
  background-color: #7038F8
}

#dark {
  background-color: #705848
}

#steel {
  background-color: #B8B8D0
}

#fairy {
  background-color: #EE99AC
}

#attackTypes {
  width: 200px;
  height: auto;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 300px;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: #FF0000;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #FF0000 !important;
  color: #ffffff;
}

@media screen and (min-width: 715px) and (max-width: 980px) {
  h1 {
    font-size: 24px;
  }
  img {
    width: 80%;
  }
  .pokemon {
    display: inline-block;
    margin-right: 25px;
    text-align: center;
  }
}

@media screen and (min-width: 311px) and (max-width: 714px) {
  h1 {
    font-size: 16px;
  }
  
  h2 {
    font-size: 14px;
  }
  
  h3 {
    font-size: 12px;
  }
  
  h4 {
    font-size: 10px;
  }
  img {
    width: 50%;
  }
  .pokemon {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 310px) {
  h1 {
    font-size: 16px;
  }
  
  h2 {
    font-size: 14px;
  }
  
  h3 {
    font-size: 12px;
  }
  
  h4 {
    font-size: 10px;
  }
  img {
    width: 50%;
  }
  button {
    width: 125px;
    font-size: 60%;
  }
  .pokemon {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
  }
  .type {
    font-size: 50%;
    margin: 0 5px 5px 5px;
    width: 90px;
    }
    .pokemonText {
      font-size: 50%;
    }
  .autocomplete {
    width: 175px;
  }
  input {
    font-size: 11px;
  }
  input[type=text] {
    width: 70%;
  }
  .autocomplete-items div {
    padding: 5px;
  }
}